<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up Work - Job Portal</title>
    <style>
         body {	        
            font-family: Arial, sans-serif;	
            color: #000;	
            background-color: #fff;	
            margin: 0;	
            padding: 0;	
            box-sizing: border-box;	
        }
    </style>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="images/trueup.png" style="height:50px; width:150px;" alt="True Up Logo" class="logo">
        </div>
        <nav class="header-nav">
            <a href="/jobs" class="nav-link">JOBS</a>
            <a href="trending.html" class="nav-link">TRENDING</a>
            <div class="dropdown">
                <a href="#" class="nav-link">MORE &#9660;</a>
                <div class="dropdown-content">
                    <a href="company-rankings.html">Company Ranking</a>
                    <a href="trending.html">Trending</a>
                    <a href="https://airtable.com/app1PaujS9zxVGUZ4/shrqYt5kSqMzHV9R5/tbl8c8kanuNB6bPYr?backgroundColor=green&viewControls=on">Layoff Tracker</a>
                </div>
            </div>
            <a href="/login" class="nav-link login-btn">Log in</a>
            <a href="/register" class="nav-link signup-btn">Sign Up</a>
        </nav>
    </header>
    <main>
        <div class="background-image"></div>
        <div class="main-content">
            <h1 style="font-size: 3em; font-weight: bold;">Don't miss your dream tech job</h1>
            <p>We use AI to scan top tech jobs in real-time. Get the inside track on the best ones for you.</p>
            <button id="joinNowBtn" class="main-btn" onclick="window.location.href='/login'">JOIN NOW</button>
            <a href="/jobs" class="secondary-link">Search jobs</a>
        </div>
    </main>
    <footer style="text-align: center; padding: 20px; background-color: #f1f1f1;">
        The CareerOS for people in tech.
    </footer>
    <script src="js/interactivity.js" defer></script>
</body>